<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Translate</title>
    <link rel="stylesheet" href="translate.css">
  </head>
  <body>
    <h1>Translate</h1>
    
    <button ng-click="ctrl.changeLanguage('en')" translate="BUTTON_LAMG_EN"></button>
    <button ng-click="ctrl.changeLanguage('ja')" translate="BUTTON_LAMG_JA"></button>
    
    <h2>Basic</h2>
    <dl>
      <dt>Filter</dt><dd>{{'GREETING' | translate}}</dd>
      <dt>innerHTML</dt><dd><translate>GREETING</translate></dd>
      <dt>attr</dt><dd translate="GREETING"></dd>
    </dl>

    <h2>Variable Replacement</h2>
    <dl>
      <dt>Filter</dt><dd>{{'GREET_TO' | translate: {'name':'Ando'} }}</dd>
      <dt>innerHTML</dt><dd><translate translate-values="{'name':'Ando'}">GREET_TO</translate></dd>
      <dt>attr</dt><dd translate="GREET_TO" translate-values="{'name':'Ando'}"></dd>
    </dl>

    <h2>Namespace</h2>
    <dl>
      <dt>Filter</dt><dd>{{'NAMESPACE.GREETING' | translate}}</dd>
      <dt>innerHTML</dt><dd><translate>NAMESPACE.GREETING</translate></dd>
      <dt>attr</dt><dd translate="NAMESPACE.GREETING"></dd>
    </dl>
    
    <h2>Dynamic</h2>
    <input ng-model="messageKey"></input><br/>
    <p>{{ messageKey | translate }}</p>

    <script type="application/dart" src="translate-test.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
